*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: semplicitapro, sans-serif;
    color: rgb(210, 105, 30);
    text-align: center;
}

a{
    text-decoration: none;
}

.main section{
    margin: 40px 20px;
}

hr {
    width: 90%;
    height: 3px;
    background-color:rgb(210, 105, 30);
    margin: auto;
    border: none;

    
}

/* header */
.header{
    padding: 20px 30px;
    background-image: url(./images/nattu-adnan-Ai2TRdvI6gM-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header h1{
    text-align: center;
}

.header h1 a{
    color: rgb(210, 105, 30);
}

span{
    font-weight: 600;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav ul li{
    padding: 15px 10px;
    list-style-type: none;
    
}

.nav ul li a{
    color: rgb(210, 105, 30);
}
.nav ul li a:hover{
    border-bottom: 2px solid rgb(210, 105, 30);
    top: -2px;
}
/* hero */

.hero{
    background-image: url(./images/nattu-adnan-Ai2TRdvI6gM-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.hero p{
    font-size: 38px;
    font-style: italic;
    padding: 30px 35px;
    
}
/* about me section */

.about-me div img{
    width: 60%;
    padding: 15px

}
/* my work section */
.example1, .example2, .example3{
    margin: 20px;
    background: rgb(240, 248, 255);
    border: 2px solid rgb(176, 196, 222)
}

.my-work article p{
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.my-work article img{
    width: 100%;
}

.my-work article a{
    color: rgb(210, 105, 30);
}

.my-work article:hover{
    background: rgb(176, 196, 222);
}
.my-work article img:hover{
    opacity: 0.6;
}
.my-work article a:hover{
    color: rgb(240, 248, 255)
}

/* contact me section */
.contact-me h2{
    margin: 30px;
}

.contact-me ul li{
    list-style-type: none;
    padding: 6px;
}

.contact-me ul li a{
    color: rgb(210, 105, 30);
}

.contact-me ul li a:hover{
    color: rgb(240, 248, 255);
    background: rgb(176, 196, 222);
}


/* media query min 769px */
@media screen and (min-width: 769px){
    .my-work div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .my-work div .example1{
        width: 900%;
    }
    .example2, .example3{
        padding: 0 auto;
        width: 44.5%;
    }
    .contact-me ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

/* media query min 1025px */
@media screen and (min-width: 1025px){
   hr{
       display: none;
   }
   
    .header{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   
   .hero{
       display: flex;
       justify-content: flex-end;
       align-items: flex-end;
       flex-wrap: wrap;
   }

    .about-me{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about-me > h2{
        padding-right: 15px;
        border-right: 5px solid rgb(210, 105, 30);
        text-align: right;
        flex: 0 0 20%;
    }
    .about-me div{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        width: 75%;
        align-items: center;
    }
    .about-me div img{
        width: 40%;
    }
    .about-me div p{
        width: 40%;  
    }

    .my-work{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    
    }
    .my-work > h2{
        padding-right: 15px;
        border-right: 5px solid rgb(210, 105, 30);
        text-align: right;
        flex: 0 0 20%;
    }
    .my-work > div{
        width: 70%;
    }

    .example2, .example3{
        width: 42%;
    }

    .contact-me{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .contact-me > h2{
        padding-right: 15px;
        border-right: 5px solid rgb(210, 105, 30);
        text-align: right;
        flex: 0 0 20%;
    }
    .contact-me ul{  
        align-content: center;
       
    }
    .contact-me ul li{
        padding: 10px 30px;
    }

}

/* media query for min 1300px */
@media screen and (min-width: 1300px){
    .example2, .example3{
        width: 45%;
    }
    .contact-me ul{ 
        margin-right: 10%;
    }
}
